<html>
    <head>

    </head>
	<div class = "editpane">

        <a href='{{url_for('editItem',category_title = category.title, item_title=item.title)}}' >Edit</a>
        </div>

    	<div class = "deletepane">

            <a href='{{url_for('deleteItem', item_title=item.title, category_title = category.title )}}' >Delete</a>
            </div>
    <body>
        <h1>{{ category.title }}</h1>
        <div>
            <p>{{item.title}}</p>
            <p>{{item.description}}</p>
            <p>{{item.date_time}}</p>

        </div>
        
    </body>
</html>